html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Class content */
.content {
	width: 70%;
	margin: 0 auto;
}

/* CSS tag p */
.content__exam {
	color: red;
	font-size: 35px;
}

/* CSS tag ul of class list1*/
.content__list1 {
	width: 50%;
	margin: 10px auto;
	display: flex;
	font-size: 20px;
}

.content__list1__item {
	flex-wrap: nowrap;
	padding: 10px;
}

.content__list1--active{
	background: pink;
	font-weight: bold;
}

.content__list1__item:hover {
	background: pink;
	font-weight: bold;
}

/* CSS tag ul of class list2*/
.content__list2 {
	width: 50%;
	margin: 10px auto;
	background: #F8F7F4;
	font-size: 16px;
}

.content__list2__item {
	padding: 10px;
}

.content__list2__item--active{
	color: #5DBCD2;
}

.content__list2__item:hover {
	color: #5DBCD2;
}
